/* 1920px */
@media screen and (max-width:1920px) {
     /* NAV */
    body {
        margin: 0 10rem;
    }

    /* CART */
    .cartTitle {
        position: relative;
        left: 1.3rem;
    }

    .cartContainer {
        align-items: center;
        height: max-content;
    }

    .closeCart {
        position: relative;
        left: 43.9rem;
    }
    /* END CART */
    /* END NAV */
}


/* 1366px */
@media screen and (max-width:1366px) {

    body {
        margin: 0 5rem;
    }

    /* CART */

    .cartContainer {
        align-items: center;
    }

    .closeCart {
        position: relative;
        left: 31.5rem;
    }
    /* END CART */

    /* PRODUCTS */

    .shop {
        row-gap: 1.5rem;
    }

    .productImg {
        width: 200px;
    }
    /* END PRODUCTS */

    /* CONTACT */

    .contact-us {
        margin-top: 3rem;
    }

    /* END CONTACT */
}




/* 768px */
@media screen and (max-width:768px) {

    body {
        margin: 0 3.5rem;
    }

    .navList {
        position: fixed;
        background-color: #fff;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 6rem 2rem 3.5rem;
        transition: .5s;
    }

    .navList ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    .navList ul li:not(:last-child) {
        margin-right: 0;
    }

    .showMenu {
        right: 0;
    }

    .openNav {
        display: initial !important;
    }

    .closeNav {
        top: 1.3rem;
        right: 3.1rem;
        opacity: 1;
        pointer-events: initial;
    }

    /* CART */
    .cartContainer {
        align-items: center;
    }

    .closeCart {
        position: relative;
        left: 13rem;
    }
    /* END CART */
    /* END NAV */

    /* HOME */
    .price-reduced {
        position: relative;
        left: 1rem;
    }

    .banner-title {
        font-size: 24px;
        margin-top: 2rem;
    }

    .bannerImgNormal {
        display: none;
    }

    .bannerImgSmallPhone {
        display: initial;
        width: 400px !important;
    }

    .home {
        grid-template-columns: 1fr;
    }

    .social-links {
        display: none;
    }
    /* END HOME */

    /* INFO */

    .aboutFirstDescription {
        margin: 0 1rem !important;
    }

    .aboutDescription {
        margin: 0;
    }
    /* END INFO */

    /* PRODUCTS */

    .shop {
        column-gap: 1.5rem;
    }
    /* END PRODUCTS */

    /*  CONTACT */

    .contact-us {
        display: flex;
        flex-direction: column;
        margin: 3rem 3rem;
    }

    .contact-us:before {
        width: 100%;
    }

    .contact-left,
    .contact-center {
        margin-bottom: 3rem;
    }

    /* END CONTACT */
}


/* 412px */
@media screen and (max-width:412px) {

    body {
        margin: 0 2.5rem;
    }
    /* NAV */
    .navList {
        position: fixed;
        background-color: #fff;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 6rem 2rem 3.5rem;
        transition: .5s;
    }

    .navList ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    .navList ul li:not(:last-child) {
        margin-right: 0;
    }

    .shop {
        display: flex !important;
        flex-direction: column !important;
    }

    .showMenu {
        right: 0;
    }

    .openNav {
        display: initial !important;
    }

    .closeNav {
        right: 2.1rem;
    }
    /* CART */
    .cartContainer {
        align-items: center;
    }

    .closeCart {
        position: relative;
        left: 2.9rem;
    }
    /* END CART */
    /* END NAV */

    /* HOME */
    .banner {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .price-reduced {
        left: 0rem;
    }

    .old-price-banner,
    .new-price {
    transform: rotate(0deg);
    }

    .banner-right {
        grid-row-start: 1;
    }

    .banner-title {
        text-align: center;
    }

    .bannerImgSmallPhone {
        width: 300px !important;
        top: 1rem;
    }
    /* END HOME */

    /* INFO */
    .info {
        margin-top: 15rem;
        display: flex;
        flex-direction: column;
    }

    .aboutDescription {
        margin: 0 .2rem;
    }

    /* END INFO */

    /* PRODUCTS */

    .shop {
        grid-template-rows: repeat(1, 1fr) !important;
        overflow: hidden;
    }

    .products-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .left-arrow,
    .right-arrow {
        display: initial !important;
    }

    .products {
        overflow: hidden;
    }
    /* END PRODUCTS */

    /* CONTACT */

    .contact-us {
        flex-direction: column;
        margin-top: 1rem;
    }

    .contact-left,
    .contact-center {
        margin-bottom: 3rem;
    }

    /* END CONTACT */
}




/* 375px */
@media screen and (max-width:375px) {
    /* CART */

    .closeCart {
        position: relative;
        left: 1.8rem;
    }


    /* END CART */
}


/* 360px */
@media screen and (max-width:360px) {

    body {
        margin: 0 2rem;
    }

    /* NAV */

    .navList {
        position: fixed;
        background-color: #fff;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 6rem 2rem 3.5rem;
        transition: .5s;
    }

    .navList ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }

    .navList ul li:not(:last-child) {
        margin-right: 0;
    }

    .showMenu {
        right: 0;
    }

    .openNav {
        display: initial !important;
    }

    .closeNav {
        right: 1.6rem;
    }

    /* CART */
    .cartContainer {
        align-items: center;
    }

    .closeCart {
        position: relative;
        left: 1.8rem;
    }
    /* END CART */
    /* END NAV */
}