@media screen and (max-width:1600px) {
    body {
        margin: 0 22rem !important;
    }
}


@media screen and (max-width:1500px) {
    body {
        margin: 0 19rem !important;
    }
}

@media screen and (max-width:1350px) {
    body {
        margin: 0 15rem !important;
    }

    .showCart {
        width: 100vw !important;
    }

    .cart-top {
        justify-content: center !important;
    }

    .cartTitle {
        margin-right: 3rem !important;
        position: relative !important;
        left: -1rem !important;
    }

    .cartAmountTrash {
        position: relative !important;
        left: -1rem !important;
    }
}

@media screen and (max-width:1250px) {
    body {
        margin: 0 12rem !important;
    }
}

@media screen and (max-width:1150px) {
    body {
        margin: 0 9rem !important;
    }
}

@media screen and (max-width:1050px) {
    body {
        margin: 0 6rem !important;
    }
}

@media screen and (max-width:950px) {
    body {
        margin: 0 2.5rem !important;
    }
}

@media screen and (min-width:840px) {
    .aboutImg {
        display: flex;
        justify-content: flex-start;
    }
    
    .right {
        justify-content: flex-end;
    }
}



@media screen and (max-width:840px) {
    /* nav */
    .navList {
        position: fixed;
        background-color: #fff !important;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 6rem 2rem 3.5rem !important;
        transition: .5s !important;
    }

    .navList ul {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        row-gap: 2rem !important;
    }

    .navList ul li:not(:last-child) {
        margin-right: 0 !important;
    }

    .navBtns .openNav {
        display: initial !important;
    }

    .closeNav {
        opacity: 1 !important;
        pointer-events: initial !important;
    }
    
    /* home */
    .home {
        display: grid;
        grid-template-columns: 1fr;
    }

    .social-links {
        display: none;
    }

    .homeImg {
        grid-row-start: 1;
        grid-column-start: 2;
        display: flex;
        margin: auto;
        width: 50%;
    }

    /* about */

    .about {
        grid-template-columns: repeat(1,1fr);
        margin-top: 2rem;
    }

    .aboutImg {
        grid-row-start: 1;
        margin: auto;
    }

    /* products */

    .productsTitle {
        margin-top: 6rem;
    }

    .shop {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        overflow: auto;
    }

    .left-arrow,
    .right-arrow {
        color: #000;
        font-size: 40px;
        cursor: pointer;
        display: initial !important;
    }

    .productImg {
        width: 200px;
    }
    
}

@media screen and (max-width: 700px) {
    /* home */
    .banner {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .old-price-banner,
    .new-price {
    font-size: 32px;
    font-weight: 700;
    transform: rotate(0deg);
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}

    .banner-right {
        grid-row-start: 1;
    }

}

@media screen and (max-width: 635px) {
    .productsTitle {
       margin-top: 5rem; 
    }
}

@media screen and (max-width: 550px) {
    /* home */
    .banner-title {
        font-size: 24px;
        font-weight: 700;
    }

    .bannerImg {
        width: 350px;
    }

    .shop {
        grid-template-columns: 1fr;
    }

    /* about */

    .info {
        display: flex;
        flex-direction: column;
    }

    /* products */

    

    .shop {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1.5rem;
        column-gap: 5rem;
        place-items: center;
    }

    .productImg {
        width: 200px;
    }
}

@media screen and (max-width: 450px) {
    /* home */
    .bannerImg {
        width: 300px;
    }
}

@media screen and (max-width: 400px) {
    /* home */
    .banner-title {
        font-size: 20px;
        font-weight: 700;    ;
    }

    .bannerImg {
        width: 250px;
    }
}

@media screen and (max-width: 350px) {
    body {
        margin: 0 !important;
    }
}


/* special responsive */
/* home */
@media screen and (min-width: 350px) and (max-width: 9999px) {
    .bannerImgSmallPhone {
        display: none;
    }
}

@media screen and (min-width: 0px) and (max-width: 350px) {
    /* home */
    .bannerImgNormal {
        display: none;
    }
}

@media screen and (min-width: 550px) and (max-width: 700px) {
    .info {
        margin-top: 15rem !important;
        row-gap: 1rem;
    }
}


@media screen and (min-width: 0px) and (max-width: 360px) {
    /* about */
.aboutImg img {
    width: 250px;
}
}

