/* google font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style-type: none !important;
}

a {
    text-decoration: none !important;
    color: #101010 !important;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    font-weight: bolder;
    position: sticky;
    top: 150px;
    visibility: hidden;
    border-radius: 10px;
    width: max-content;
    padding: .3rem;
    background-color: rgba(143, 143, 68, 0.952);
    z-index: 20;
    
}

.alert-title {
    font-size: 24px;
    align-items: center;
}

.alert-fade {
    visibility: visible;
}

body {
    margin: 0rem 25rem; 
}

/* =============== NAV ============= */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    border-radius: 0.313rem;
    position: sticky;
    top: 0;
}

.scrolled {
    background-color: #fff;
    box-shadow: 0 0.5rem 0.625rem -0.625rem #000;
    z-index: 4;
    transition: .5s;
}

.logo {
    font-size: 1.1rem;
    font-weight: 900;
    font-family: inherit;
    text-transform: uppercase;
    margin-left: .5rem;
}

.logo-img {
    font-size: 1.1rem;
}

.navList ul {
    display: flex;
    margin: auto;
}

.navList ul li:not(:last-child) {
    margin-right: 1.5rem;
}

.navList ul li a {
    font-size: 1.15rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #050505;
}

.closeNav {
    font-size: 2rem;
    position: absolute;
    top: 1.8rem;
    right: 5.1rem;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

.navBtns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: .5rem;
    color: #050505;
    font-size: 1.2rem;
}

.navBtns i:not(:last-child) {
    margin-right: 1rem;
}

.openCart {
    position: relative;
}

.navBtns .openNav {
    display: none;
}

.navBtns .moon,
.openCart,
.openNav {
    cursor: pointer;
}


/* =============== NAV RESPONSIVE ============= */

@media screen and (max-width:1600px) {
    body {
        margin: 0 22rem;
    }
}


@media screen and (max-width:1500px) {
    body {
        margin: 0 19rem;
    }
}

@media screen and (max-width:1350px) {
    body {
        margin: 0 15rem;
    }

    .showCart {
        width: 100vw !important;
    }

    .cart-top {
        justify-content: center !important;
    }

    .cartTitle {
        margin-right: 3rem;
        position: relative;
        left: -1rem;
    }

    .cartAmountTrash {
        position: relative;
        left: -1rem;
    }
}

@media screen and (max-width:1250px) {
    body {
        margin: 0 12rem;
    }
}

@media screen and (max-width:1150px) {
    body {
        margin: 0 9rem;
    }
}

@media screen and (max-width:1050px) {
    body {
        margin: 0 6rem;
    }
}

@media screen and (max-width:950px) {
    body {
        margin: 0 3rem;
    }
}

@media screen and (max-width:850px) {
    body {
        margin: 0 1rem;
    }
}

@media screen and (max-width:768px) {
    .navList {
        position: fixed;
        background-color: #fff;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 6rem 2rem 3.5rem;
        transition: .5s;
        z-index: 100;
    }
    .navList ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }
    .navList ul li:not(:last-child) {
        margin-right: 0;
    }
    .navBtns .openNav {
        display: initial;
    }
    .closeNav {
        opacity: 1;
        pointer-events: initial;
    }
}


/* =============== SHOW MENU ============= */

.showMenu {
    right: 0;
}


/* =============== CART ============= */

.showCart {
    position: fixed;
    background-color: #fff;
    z-index: 5;
    width: 20rem;
    height: 100vh;
    top: 0;
    right: -100%;
    transition: ease-in-out .5s;
    overflow-y: scroll;
    font-size: 1.5rem;
}

.cart-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5rem;
    position: sticky;
    top: 0;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: max-content;
}

.closeCart {
    font-size: 2.5rem;
    color: #000;
    position: sticky;
    top: 0;
    cursor: pointer;
    z-index: 20;
}

.cartCard {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: 2rem;
}

.cartBox {
    box-shadow: 0 0 0.625rem 0.125rem gray;
    border-radius: 0.25rem;
}

.cartImg {
    width: 7rem;
}

.cartTitle {
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.cartDetails {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* width: 80%; */
}

.cartPrice {
    display: block;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin-bottom: 1.5rem;
}

.cartAmount,
.cartAmountContent {
    display: flex;
    align-items: center;
}

.cartAmount {
    column-gap: 3rem;
}

.cartAmountContent {
    column-gap: .5rem;
}

.cartAmountBox {
    display: inline-flex;
    font-size: 1.7rem;
    cursor: pointer;
}

.cartAmountTrash {
    font-size: 1.25rem;
    color: #000;
    cursor: pointer;
}

.cartPrices {
    width: 63%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}


/* =============== SHOW CART ============= */

.showCartClass {
    right: 0;
}

/* =============== HOME ============= */

.home {
    display: flex;
}

.socialLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 100px;
    transform: rotate(-90deg);
    height: max-content;

}

.homeImg {
    width: 250px;
}

/* =============== HOME RESPONSIVE ============= */


/* ---------------------------------------------------------------- */

.about {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.aboutImg {
    position: relative;
}

.aboutImg img {
    height: 25rem;
    border-radius: 30%;
}

.aboutRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutTitle {
    position: relative;
}

.aboutTitle:before {
    content: "";
    height: 0.188rem;
    width: 11rem;
    background: #6B6762;
    position: absolute;
    top: -0.625rem;
}

.aboutDescription,
.discover,
.button-home {
    margin-top: 1.25rem;
}

.discover {
    width: fit-content;
}


/* ---------------------------------------------------------------- */

.productsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.productsTitle:before {
    content: "";
    height: 0.188rem;
    width: 7rem;
    background: #6B6762;
    position: absolute;
    top: -0.625rem;
}

.shop {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    place-items: center;
}

.item {
    width: 18.75rem;
    position: relative;
    border-radius: 0.625rem;
    z-index: 2;
}

.item:hover {
    box-shadow: 0 0.625rem 1.25rem 0.031rem #A6E8D2;
}

.productImg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.productName,
.productPrice,
.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    cursor: pointer;
    background-color: #A6E8D2;
    width: max-content;
    display: flex;
    margin: auto;
    padding: .5rem 2rem;
    border-radius: 0.313rem 0.313rem 0 0;
    transition: .5s;
    position: relative;
    transform: translateY(.5rem);
    opacity: 0;
    border: none;
}

.item:hover .button {
    transform: translateY(0);
    opacity: 1;
    cursor: pointer;
}


/* ---------------------------------------------------------------- */

.contact-us {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-links {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-list span {
    margin-right: .8rem;
}

.contact-location {
    display: flex;
    flex-direction: column;
    margin-top: .3rem;
    font-size: 1rem;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: .3rem;
    font-size: 1rem;
}

.social-link:hover {
    cursor: pointer;
}



/* BREAKPOINTS */


/* 600px: Mobile devices
768px: iPads, Tablets
992px: Small screens, laptops
1200px: Desktops, large screens*/