/* google font */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.alert-fixed {
    position: fixed !important;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 9999;
    border-radius: 0px
}

li {
    list-style-type: none !important;
}

a {
    text-decoration: none !important;
    color: #101010 !important;
}

.alert-width {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    width: 15%;
    margin: auto;
    font-weight: bolder;
}


/* =============== NAV ============= */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;
    border-radius: 0.313rem;
    position: sticky;
    top: 0;
    margin: 0 20rem;
}

.scrolled {
    background-color: #fff;
    box-shadow: 0 0.5rem 0.625rem -0.625rem #000;
    z-index: 4;
    transition: .5s;
}

.logo {
    font-size: 1.1rem;
    font-weight: 900;
    font-family: inherit;
    text-transform: uppercase;
    margin-left: .5rem;
}

.logoImg {
    font-size: 1.1rem;
}

.navList ul {
    display: flex;
    margin: auto;
}

.navList ul li:not(:last-child) {
    margin-right: 1.5rem;
}

.navList ul li a {
    font-size: 1.15rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #050505;
}

.closeNav {
    font-size: 2rem;
    position: absolute;
    top: 1.8rem;
    right: 5.1rem;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

.navBtns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: .5rem;
    color: #050505;
    font-size: 1.2rem;
}

.navBtns i:not(:last-child) {
    margin-right: 1rem;
}

.openCart {
    position: relative;
}

.navBtns .openNav {
    display: none;
}

.navBtns .moon,
.openCart,
.openNav {
    cursor: pointer;
}


/* =============== NAV RESPONSIVE ============= */

@media screen and (max-width:1400px) {
    .nav {
        margin: 0 10rem;
    }
}

@media screen and (max-width:1200px) {
    .nav {
        margin: 0 10rem;
    }
}

@media screen and (max-width:1100px) {
    .nav {
        margin: 0 7rem;
    }
}

@media screen and (max-width:950px) {
    .nav {
        margin: 0 4rem;
    }
}

@media screen and (max-width:880px) {
    .nav {
        margin: 0 2rem;
    }
}

@media screen and (max-width:800px) {
    .nav {
        margin: 0 1rem;
    }
}

@media screen and (max-width:768px) {
    .nav {
        margin: 0 5rem;
    }
    .navList {
        position: fixed;
        background-color: #fff;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        padding: 6rem 2rem 3.5rem;
        transition: .5s;
        z-index: 100;
    }
    .navList ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
    }
    .navList ul li:not(:last-child) {
        margin-right: 0;
    }
    .navBtns .openNav {
        display: initial;
    }
    .closeNav {
        opacity: 1;
        pointer-events: initial;
    }
}

@media screen and (max-width:668px) {
    .nav {
        margin: 0 5rem;
    }
    .closeNav {
        right: 5.1rem;
    }
}

@media screen and (max-width:468px) {
    .nav {
        margin: 0 2rem;
    }
    .closeNav {
        right: 2.1rem;
    }
}


/* =============== SHOW MENU ============= */

.showMenu {
    right: 0;
}


/* =============== CART ============= */

.showCart {
    position: fixed;
    background-color: #fff;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    transition: .5s;
    overflow: scroll;
    font-size: 1.5rem;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: max-content;
}

.cartTitle {
    text-align: center;
    /* margin-bottom: 2rem; */
    align-items: center;
    position: sticky;
    top: 0;
}

.closeCart {
    font-size: 2.5rem;
    color: #000;
    position: sticky;
    top: .5rem;
    left: 150rem;
    cursor: pointer;
    z-index: 20;
}

.cartCard {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: 2rem;
}

.cartBox {
    box-shadow: 0 0 0.625rem 0.125rem gray;
    border-radius: 0.25rem;
}

.cartImg {
    width: 7rem;
}

.cartTitle {
    margin-bottom: .5rem;
    font-weight: 500;
}

.cartDetails {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.cartPrice {
    display: block;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin-bottom: 1.5rem;
}

.cartAmount,
.cartAmountContent {
    display: flex;
    align-items: center;
}

.cartAmount {
    column-gap: 3rem;
}

.cartAmountContent {
    column-gap: 1rem;
}

.cartAmountBox {
    display: inline-flex;
    font-size: 1.7rem;
    cursor: pointer;
}

.cartAmountTrash {
    font-size: 1.25rem;
    color: #000;
    cursor: pointer;
}

.cartPrices {
    width: 63%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}


/* =============== SHOW CART ============= */

.showCartClass {
    right: 0;
}

/* =============== HOME ============= */



.home {
    display: grid;
    grid-template-columns: .5fr 1fr 1.5fr;
    margin: 5rem 20rem;
}

.homeLeft {
    display: flex;
}

.socialLinks {
    display: flex;
    transform: rotate(-90deg);
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: inherit;
    width: 130px;
}

.socialLinks a:not(:last-child) {
    margin-right: 1.25rem;
}

.productDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
}

.homeTitle,
.homeDescription,
.homePrice,
.homeButtons {
    margin-top: 1.5rem;
}

.homeButtons button:hover {
    cursor: pointer;
}

.button-home,
.discover {
    cursor: pointer;
    border: none;
    background-color: rgba(89, 88, 88, 0.781);
    color: rgb(228, 227, 227);
    padding: .5rem 1rem;
    border-radius: 4px;
}

.homeImg img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    height: 17rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* =============== HOME RESPONSIVE ============= */

@media screen and (max-width: 1670px) {
    .home {
        margin: 5rem 20rem;
    }
}

@media screen and (max-width:1400px) {
    .home {
        margin: 5rem 10rem;
    }
}

@media screen and (max-width:1200px) {
    .home {
        margin: 5rem 10rem;
    }
    .homeLeft {
        display: flex;
        flex-direction: column;
    }
    .socialLinks {
        transform: rotate(0deg);
        position: relative;
        left: -135px;
    }
    .homeImg img {
        height: 16rem;
    }
}

@media screen and (max-width:1100px) {
    .home {
        margin: 5rem 7rem;
    }
    .homeImg img {
        height: 14rem;
    }
}

@media screen and (max-width:950px) {
    .home {
        margin: 5rem 4rem;
    }
}

@media screen and (max-width:880px) {
    .home {
        margin: 5rem 2rem;
    }
    .homeImg img {
        height: 13rem;
    }
}

@media screen and (max-width:800px) {
    .home {
        margin: 5rem 1rem;
    }
    .homeImg img {
        height: 11rem;
    }
}

@media screen and (max-width:768px) {
    .home {
        margin: 0 5rem;
        display: grid;
        grid-template-columns: 1fr;
    }

    .homeLeft {
        text-align: center;
    }

    .homeButtons {
        display: flex;
        justify-content: space-evenly;
    }

    .socialLinks {
        transform: rotate(0deg);
        position: relative;
        left: 0px;
    }

    .homeImg img {
        display: flex;
        height: 13rem;
        position: relative;
        margin: auto;
        justify-content: center;
        left: 160px;
    }
}

@media screen and (max-width:668px) {
    .home {
        margin: 5rem 5rem;
    }
}

@media screen and (max-width:468px) {
    .home {
        margin: 5rem 2rem;
    }
}

/* ---------------------------------------------------------------- */

.about {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.aboutImg {
    position: relative;
}

.aboutImg img {
    height: 25rem;
    border-radius: 30%;
}

.aboutRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutTitle {
    position: relative;
}

.aboutTitle:before {
    content: "";
    height: 0.188rem;
    width: 11rem;
    background: #6B6762;
    position: absolute;
    top: -0.625rem;
}

.aboutDescription,
.discover,
.button-home {
    margin-top: 1.25rem;
}

.discover {
    width: fit-content;
}


/* ---------------------------------------------------------------- */

.productsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.productsTitle:before {
    content: "";
    height: 0.188rem;
    width: 7rem;
    background: #6B6762;
    position: absolute;
    top: -0.625rem;
}

.shop {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
    place-items: center;
}

.item {
    width: 18.75rem;
    position: relative;
    border-radius: 0.625rem;
    z-index: 2;
}

.item:hover {
    box-shadow: 0 0.625rem 1.25rem 0.031rem #A6E8D2;
}

.productImg {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.productName,
.productPrice,
.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    cursor: pointer;
    background-color: #A6E8D2;
    width: max-content;
    display: flex;
    margin: auto;
    padding: .5rem 2rem;
    border-radius: 0.313rem 0.313rem 0 0;
    transition: .5s;
    position: relative;
    transform: translateY(.5rem);
    opacity: 0;
    border: none;
}

.item:hover .button {
    transform: translateY(0);
    opacity: 1;
    cursor: pointer;
}


/* ---------------------------------------------------------------- */

.contact-us {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-links {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-list span {
    margin-right: .8rem;
}

.contact-location {
    display: flex;
    flex-direction: column;
    margin-top: .3rem;
    font-size: 1rem;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: .3rem;
    font-size: 1rem;
}

.social-link:hover {
    cursor: pointer;
}



/* BREAKPOINTS */


/* 600px: Mobile devices
768px: iPads, Tablets
992px: Small screens, laptops
1200px: Desktops, large screens*/