/* google font */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

/* =============== SHOW MENU ============= */

.showMenu {
    right: 0 !important;
}

/* =============== SHOW CART ============= */

.showCartClass {
    right: 0 !important;
}


.old-price {
    text-decoration: line-through;
}

.active {
    color: #e97110 !important;
}


/* =============== HIDE/SHOW CART BUTTON AND SOCIAL LINKS ============= */

li {
    list-style-type: none !important;
}

a {
    text-decoration: none !important;
    color: #101010 !important;
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    font-weight: bolder;
    position: sticky;
    top: 150px;
    visibility: hidden;
    border-radius: 10px;
    width: max-content;
    padding: .3rem;
    background-color: rgba(143, 143, 68, 0.952);
    z-index: 10;
    
}

.alert-title {
    font-size: 24px;
    align-items: center;
}

.alert-fade {
    visibility: visible;
}

body {
    margin: 0rem 25rem; 
}

/* =============== NAV ============= */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    position:relative;
    top: 0;
}

.scrolled {
    background-color: #fff;
    box-shadow: 0 0.5rem 0.625rem -0.625rem #000;
    transition: .5s;
    z-index: 2;
    position: sticky;
}

.logo-img {
    width: 125px;
}

.navList {
    position: relative;
    z-index: 2;
}

.navList ul {
    display: flex;
    margin: auto;
}

.navList ul li:not(:last-child) {
    margin-right: 1.5rem;
}

.navList ul li a {
    font-size: 1.15rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #050505;
}

.closeNav {
    font-size: 2rem;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

.navBtns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #050505;
    font-size: 1.2rem;
}

.navBtns i:not(:last-child) {
    margin-right: 1rem;
}


.navBtns:first-child {
    margin-right: .5rem;
}

.openCart {
    position: relative;
}

.navBtns .openNav {
    display: none;
}

.navBtns .moon,
.openCart,
.openNav {
    cursor: pointer;
}


/* =============== CART ============= */

.showCart {
    position: fixed;
    background-color: #fff;
    z-index: 5;
    width: 20rem;
    height: 100vh;
    top: 0;
    right: -100%;
    transition: ease-in-out .5s;
    overflow-y: scroll;
    font-size: 1.5rem;
}

.cart-top {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 5rem;
    position: sticky;
    top: 0;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: max-content;
}

.closeCart {
    font-size: 2.5rem;
    color: #000;
    position: sticky;
    top: 0;
    cursor: pointer;
    /* z-index: 20; */
}

.cartCard {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-top: 2rem;
}

.cartBox {
    box-shadow: 0 0 0.625rem 0.125rem gray;
    border-radius: 0.25rem;
}

.cartImg {
    width: 7rem;
}

.cartTitle {
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.cartDetails {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.cartPrice {
    display: block;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin-bottom: 1.5rem;
}

.cartAmount,
.cartAmountContent {
    display: flex;
    align-items: center;
}

.cartAmount {
    column-gap: 3rem;
}

.cartAmountContent {
    column-gap: .5rem;
}

.cartAmountBox {
    display: inline-flex;
    font-size: 1.7rem;
    cursor: pointer;
}

.cartAmountTrash {
    font-size: 1.25rem;
    color: #000;
    cursor: pointer;
}

.cartPrices {
    width: 63%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

/* =============== HOME ============= */
.home {
    display: grid;
    grid-template-columns: 20% 80%;
    height: max-content;
    align-items: center;
    height: 20rem;
}

.social-links {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 3rem;
    position: relative;
    transform: rotate(-90deg);
    place-self: center;
}

.social-links a {
    font-size: 24px;
    font-weight: 700;
}

.banner {
    background: rgb(233,113,16);
    background: linear-gradient(142deg, rgba(233,113,16,1) 0%, rgba(116,121,128,1) 100%);
    border-radius: 7px;
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100%;
    cursor: pointer;
}

.price-reduced {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.old-price-banner,
.new-price {
    font-size: 32px;
    font-weight: 700;
    transform: rotate(-20deg);
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}

.old-price {
    color: rgb(116,121,128);
    box-shadow: 0 0 30px 2px #747980;
}

.new-price {
    box-shadow: 0 0 20px 2px #fff;
}

.button-banner {
    padding:10px;
    border: none;
    background-color: transparent;

}

.banner-right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 20% 70%;
    place-items: center;
}

.banner-title {
    font-size: 32px;
    font-weight: 600    ;
}

.banner-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerImg {
    width: 450px;
    position: relative;
}

.bannerImgSmallPhone {
    width: 250px !important;
}

/* =============== ABOUT ============= */

.info {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    margin-bottom: 5rem;
}

.about {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(116,121,128,1);
}

.about-first {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
}

.aboutImg {
    display: flex;
    height: 160px;
}

.aboutImg img {
    height: 100%;
    border-radius: 0 5px 5px 0;
} 

.aboutImg .img-right {
    display: flex;
    flex-direction: row-reverse;    
}

.aboutRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.aboutSubtitle {
    margin-top: .3rem;
    color: rgba(27, 27, 27, 0.822);
}

.aboutDescription {
    margin-top: .3rem;
    color: rgba(27, 27, 27, 0.622);
    font-weight: 900;
    text-align: center;
}

.aboutTitle {
    position: relative;
    z-index: -1;
}

.about-discover {
    margin-top: 1rem;
    border-radius: 5px;
    background-color: #747980;
    border: none;
    color: #fff;
    padding: .3rem .5rem;
    font-weight: 600;
    box-shadow: 0 0 10px 1px #747980;
    margin-bottom: 1rem;
    cursor: pointer;
}

.about-discover:hover {
    background-color: #e97110;
    box-shadow: 0 0 10px 1px #e97110;
}


/* =============== SHOP ============= */

.productsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.productsTitle:before {
    content: "";
    height: 0.188rem;
    width: 7rem;
    background: #6B6762;
    position: absolute;
    top: -0.625rem;
}

.shop {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1.5rem;
    column-gap: 5rem;
    place-items: center;
}

.item {
    position: relative;
    border-radius: 20px;
}

.item:hover {
    box-shadow: 0 0 30px 5px #000000;
}

.productImg {
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
}

.productName,
.productPrice,
.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    width: max-content;
    display: flex;
    margin: auto;
    padding: .5rem 2rem;
    border-radius: 0.5rem 0.5rem 0 0;
    transition: .5s;
    position: relative;
    transform: translateY(.5rem);
    opacity: 0;
    border: none;
}

.item:hover .button {
    transform: translateY(0);
    opacity: 1;
    cursor: pointer;
}


/* ---------------------------------------------------------------- */

.contact-us {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contact-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-links {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-list span {
    margin-right: .8rem;
}

.contact-location {
    display: flex;
    flex-direction: column;
    margin-top: .3rem;
    font-size: 1rem;
}

.social {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.social-link {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1rem;
}

.social-links .social-link:hover {
    color: #e97110 !important;
}




/* BREAKPOINTS */


/* 600px: Mobile devices
768px: iPads, Tablets
992px: Small screens, laptops
1200px: Desktops, large screens*/

.products-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow,
.right-arrow {
    color: #000;
    font-size: 40px;
    cursor: pointer;
}