html {
    scroll-behavior: smooth;
    scroll-padding-top: var(--scroll-padding, 50px);
}

/* google font */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

/* =============== SHOW MENU ============= */

.showMenu {
    right: 0 !important;
}

/* =============== SHOW CART ============= */


.showCartClass {
    right: 0 !important;
}


.old-price {
    text-decoration: line-through;
}


/* =============== HIDE/SHOW CART BUTTON AND SOCIAL LINKS ============= */

li {
    list-style-type: none !important;
}

a {
    text-decoration: none !important;
    color: #101010 !important;
}

.alert-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    font-weight: bolder;
    position: sticky;
    top: 150px;
    visibility: hidden;
    border-radius: 10px;
    width: max-content;
    padding: .3rem;
    background-color: #8ecf97;
    z-index: 10;
    
}

.alert-title {
    font-size: 24px;
    align-items: center;
}

.alert-fade {
    visibility: visible;
}

html {
    scroll-behavior: smooth;
}
/* =============== NAV ============= */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5rem;
    position:relative;
    top: 0;
}

.scrolled {
    background-color: #fff;
    box-shadow: 0 0.5rem 0.625rem -0.625rem #000;
    transition: .5s;
    z-index: 2;
    position: sticky;
}

.logo-img {
    height: 125%;
}

.navList {
    position: relative;
    z-index: 2;
}

.navList ul {
    display: flex;
    margin: auto;
}

.navList ul li:not(:last-child) {
    margin-right: 1.5rem;
}

.navList ul li a {
    font-size: 1.15rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #050505;
}

.navLink {
    cursor: pointer;
}

.closeNav {
    font-size: 2rem;
    position: absolute;
    top: 1.3rem;
    right: 1.6rem;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
}

.navBtns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #050505;
    font-size: 1.2rem;
}

.navBtns i:not(:last-child) {
    margin-right: 1rem;
}


.navBtns:first-child {
    margin-right: .5rem;
}

.openCart {
    position: relative;
}

.navBtns .openNav {
    display: none;
}

.navBtns .moon,
.openCart,
.openNav {
    cursor: pointer;
}

.openCart,
.openNav {
    font-size: 1.7rem;
}


/* =============== CART ============= */

.showCart {
    position: fixed;
    background-color: #fff;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    transition: ease-in-out .5s;
    overflow-y: scroll;
    font-size: 1.5rem;
}

.cart-top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    position: sticky;
    top: 0;
}

.cartContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: max-content;
}

.closeCart {
    font-size: 2.5rem;
    color: #000;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.cartCard {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    margin-top: 2rem;
}

.cartBox {
    box-shadow: 0 0 0.625rem 0.125rem gray;
    border-radius: 0.25rem;
}

.cartImg {
    width: 7rem;
}

.cartTitle {
    margin-bottom: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: .2rem;
}

.cartDetails {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.cartPrice {
    display: block;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    margin-bottom: 1.5rem;
}

.old-price-cart {
    color: rgba(116,121,128,1);
    text-decoration: line-through;
    font-size: 1.2rem;
    margin-right: .5rem;
}

.cartAmountNumber {
    display: flex;
    width: 2rem;
    align-items: center;
    justify-content: center;
}

.cartAmount,
.cartAmountContent {
    display: flex;
    align-items: center;
}

.cartAmount {
    column-gap: 3rem;
}

.cartAmountContent {
    column-gap: .5rem;
}

.cartAmountBox {
    display: inline-flex;
    font-size: 1.7rem;
    cursor: pointer;
}

.cartAmountTrash {
    font-size: 1.25rem;
    color: #000;
    cursor: pointer;
}

.cartPrices {
    width: 63%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.submit-order {
    display: flex;
    margin: 3rem auto;
    padding: 1rem .5rem;
    background-color: transparent;
    border-radius: 3px;
    font-size: 1rem;
}

/* =============== HOME ============= */
.home {
    display: grid;
    grid-template-columns: 20% 80%;
    height: max-content;
    align-items: center;
    height: 20rem;
}

.social-links {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 3rem;
    position: relative;
    transform: rotate(-90deg);
    place-self: center;
}

.social-links a {
    font-size: 24px;
    font-weight: 700;
}

.banner {
    background: rgb(233,113,16);
    background: linear-gradient(150deg, rgba(233,113,16,1) 0%, rgba(116,121,128,1) 80%);
    border-radius: 7px;
    display: grid;
    grid-template-columns: 30% 70%;
    height: 100%;
    cursor: pointer;
}

.price-reduced {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.old-price-banner,
.new-price {
    font-size: 32px;
    font-weight: 700;
    transform: rotate(-20deg);
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
}

.old-price {
    color: #000;
    box-shadow: 0 0 30px 2px #000;
}

.new-price {
    color: #fff;
    box-shadow: 0 0 20px 10px red;
}

.button-banner {
    padding:10px;
    border: none;
    background-color: transparent;
}

.banner-right {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 20% 70%;
    place-items: center;
}

.banner-title {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
}

.banner-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerImg {
    width: 450px;
    position: relative;
}

.bannerImgSmallPhone {
    width: 250px !important;
    display: none;
}

/* =============== ABOUT ============= */

.info {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 1rem;
    column-gap: 1rem;
}

.about-first {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px 2px rgba(116,121,128,1);
    font-style: italic;
}

.about-left {
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(116,121,128,1);
}

.about-right {
    display: grid;
    grid-template-columns: 60% 40%;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(116,121,128,1);
}

.right1 {
    background-image: url(./assets/Natura/Photo14.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left1 {
    background-image: url(./assets/Natura/Photo12.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right2 {
    background-image: url(./assets/Natura/Photo21.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.left2 {
    background-image: url(./assets/Natura/Photo11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.aboutRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.aboutDescription {
    margin-top: .3rem;
    color: rgba(27, 27, 27, 0.622);
    font-weight: 900;
    text-align: center;
    margin: 0 2rem;
}

.btn-color {
    background-color: #e97110 !important;
    box-shadow: 0 0 10px 1px #e97110 !important;
}

.btn-color:hover {
    background-color: #747980 !important;
    box-shadow: 0 0 10px 1px #747980 !important;
}

#more {display: none;};

.aboutTitle {
    position: relative;
    z-index: -1;
}

.about-discover {
    margin-top: 1rem;
    border-radius: 5px;
    background-color: #747980;
    border: none;
    color: #fff;
    padding: .3rem .5rem;
    font-weight: 600;
    box-shadow: 0 0 10px 1px #747980;
    margin-bottom: 1rem;
    cursor: pointer;
}

.about-discover:hover {
    background-color: #e97110;
    box-shadow: 0 0 10px 1px #e97110;
}


/* =============== SHOP ============= */

.products {
    margin-top: 5rem;
}

.productsTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.productsTitle:before {
    content: "";
    height: 0.188rem;
    width: 7rem;
    background: #6B6762;
    position: absolute;
    top: -0.625rem;
}

.shop {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1rem;
    column-gap: 2.5rem;
    place-items: center;
}

.product-title {
    width: 15rem;
}

.shop::-webkit-scrollbar {
    display: none;
}

.item {
    position: relative;
    border-radius: 20px;
}

/* .item:hover {
    box-shadow: 0 0 15px 2px #000000;
} */

.product-img {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    /* border-radius: 30px; */
}

.product-name,
.productPrice,
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.productPrice {
    color: #e97110;
    font-size: 1.5rem;
    font-weight: 700;
}

.button {
    cursor: pointer;
    background-color: #000;
    color: #fff;
    font-weight: 800;
    font-size: 16px;
    width: max-content;
    display: flex;
    margin: auto;
    padding: .5rem 1.3rem;
    /* border-radius: 0.5rem 0.5rem 0 0; */
    border-radius: 0 0 .5rem .5rem;
    transition: .5s;
    position: relative;
    transform: translateY(.5rem);
    opacity: 0;
    border: none;
    text-transform: uppercase;
}

.item:hover .button {
    transform: translateY(0);
    opacity: 1;
    cursor: pointer;
}


/* =============== CONTACT US ============= */

.contact-us {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    font-size: 1.1rem;
    position: relative;
}

.contact-us:before {
    content: "";
    height: 0.188rem;
    width: 100%;
    background: #6B6762;
    position: absolute;
    top: -0.625rem;
}

.contact-left,
.contact-center,
.contact-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-location:not(:last-child) {
    margin-bottom: 1rem;
}

.terms,
.retur,
.social-link {
    margin-bottom: 1rem;
    cursor: pointer;
}

/* TERMS AND CONDITIONS */

.termsAndConditions {
    padding: 2rem;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 60vh;
    overflow-y: scroll;
    margin: auto;
    border: 2px solid black;
    display: none;
}

.display-initial {
    display: initial;
}

.termsAndConditions p,
.termsAgree,
.termsButtons {
    margin-top: 1rem;
}

.termsAgree {
    display: flex;
    justify-content: center;
}

.termsButtons {
    display: flex;
    justify-content: space-around;
}

.termsButton {
    padding: .5rem 2rem;
    border-radius: 5px;
    border: none;
    background-color: #747980;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.termsButton:hover {
    background-color: #e97110;
}

.bxl-facebook {
    color: blue;
}

.bxl-instagram {
    color: purple;
}

.bxl-youtube {
    color: red;
}


/* CART FORM */

.main-block {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.left-part, form {
    padding: 25px;
}

.left-part {
    text-align: center;
}

.fa-graduation-cap {
    font-size: 72px;
}

form {
    background: #6B6762; 
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.info1 {
    display: flex;
    flex-direction: column;
}

input, select {
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
}

input::placeholder {
    color: #eee;
}

option:focus {
    border: none;
}

option {
    background: black; 
    border: none;
}

.checkbox input {
    margin: 0 10px 0 0;
    vertical-align: middle;
}

.checkbox a {
    color: #26a9e0; 
}

.checkbox a:hover {
    color: #85d6de;
}

.btn-item {
    padding: 10px 5px;
    margin-top: 20px;
    border-radius: 5px; 
    border: none;
    background: #26a9e0; 
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.btn-item {
    display: inline-block;
    margin: 20px 5px 0;
}

.terms-form,
.politics-form {
    color: rgb(255, 255, 255) !important;
}


/* ANPC */
.anpc {
    display: flex;
    justify-content: space-around;
}
.anpc1 {
    width: 250px;
}